name: Test

# test on every push and on PRs
on:
  push:
    branches: '*'
  pull_request:

env:
  YARN_CACHE_FOLDER: ~/.yarn

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ${{ env.YARN_CACHE_FOLDER }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - uses: actions/setup-node@v1
        with:
          node-version: '12.x'
          registry-url: https://registry.npmjs.org
      - name: install
        run: yarn --frozen-lockfile

      # lint, test, report coverage
      - name: lint
        run: yarn lint
      - name: test
        run: yarn test

      # upload coverage
      - name: Coveralls
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

      # Test docker builds
      - name: build docker images
        run: |
          # Build docker image
          docker build -f docker/Dockerfile --quiet .
          # Build debug docker image
          docker build -f docker/Dockerfile.debug --quiet .
